*.o
*.pyc
*.class
svm_rank/
data/
lib/
virtuoso-db/
virtuoso-opensource/
build/
corenlp-frontend/
.idea/
.project
.pydevproject
*.so
fact_list/
fact_list_extend/
training_data/
fact_list.tar.gz
svm_result/
*DS_Store
fact_list_cvt/
wiki/
training_model/
freebase_dump/
support_sentence/
support_sentence_stat/
